@use "@/scss/abstracts/_variables" as *;
.wrapper {
  position: relative;
  background-color: $primary-color;
  padding: 3rem 0rem 0rem 0rem;
  @media(max-width: 768px)  {
    padding:0rem 0.1rem 0rem 0.1rem;
    
  }
}
.breadcrumb {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
   @media(max-width: 768px)  {
    display: none;
    
  }
}
.title {
  text-align: center;
  margin-bottom:1rem;
}
