@use "@/scss/abstracts/_variables" as *;
@use "@/scss/abstracts/_mixins" as *;

.sectionSpacing {
  background-color: $primary-color;
}
.container {
  @include container;
}
.checkoutWrapper {
  padding: 0 300px;
  @media (max-width: 1450px) {
    padding: 0 100px;
  }
  @media (max-width: 1200px) {
    padding: 0 60px;
  }
  @media (max-width: 768px) {
    padding: 0 16px; 
  }
}
.leftCol {
  padding-right: 24px;
  border-right: 1px solid $border-color;
  
  @media (max-width: 991px) {
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid $border-color;
    padding-bottom: 24px;
    margin-bottom: 0;
  }
}
.rightCol {
  padding-left: 24px;
  position: sticky;
  top: 0;

  @media (max-width: 991px) {
    padding-left: 0;
    position: static; 
  }
}